
<div class="row marketing center-block">

    <h4>Contact</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                For inquiries, suggestions, or ideas please contact Omid at <a href="mailto:omid@@usesync.com">omid@@usesync.com</a>
            </p>
        </div>
    </div>

    <h4>Hello! My name is Omid...</h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="@routes.Assets.at("images/me.jpg")" class="pull-left img-responsive img-rounded" style="margin: 10px; width: 120px;">

            <p>And I am going to tell you why <a href="http://www.bittorrent.com/sync" target="_new">BitTorrent Sync</a> will simplify your life and help make the web a safer place.</p>

            <p>
                BitTorrent Sync allows anyone to share with others any type of digital media <strong>directly</strong> &mdash; that is, without going through an online service provider like Google, Dropbox, Apple, etc. To draw an analogy,
                imagine how much faster it is for you to drive to a friend's house to deliver a letter as opposed to using your local postal service. If you were to use snail mail, your letter will go through
                hundreds of hands, tens of postal offices, before it arrives to your friend's door days later.
            </p>

            <img src="@routes.Assets.at("images/p2p.png")" class="pull-right img-responsive img-rounded">

            <p>In contrast to the postal model, driving directly to your friend's house to deliver the letter is both faster, and more secure. BitTorrent Sync's encrypted peer-to-peer model of delivering files and media
               across the web is environmentally safer and more secure as no one will be able to examine the contents of your letter while in transit. Peer-to-peer networks have many benefits, yet one of
               their drawbacks is the likelihood that at any point no peers could be available online to serve essential files when needed.</p>

            <p>It is for this reason that I created "Use Sync." This service allows anyone to create a always-online "peer" or repository that will help you sync your files with all your friends. During a special event &mdash;
               like a concert or a wedding &mdash; you and your friends can create a temporary sync repository to collect all your photos and videos in a single location.</p>

            <p>Take a look at BitTorrent Sync &mdash; they are building amazing things. And next time you need an online repository Use Sync!</p>

            <p>Thank you,<br/>Omid</p>


        </div>
    </div>
</div>

