




    <div class="jumbotron">
        <h2>All your files, synced. For free.</h2>
        <p>Instantly sync all your personal files across multiple devices. Sync and share photos, movies, and documents using <a href="http://www.bittorrent.com/sync" target="_new">BitTorrent Sync</a>.</p>
        <p><a class="btn btn-lg btn-success" href="@routes.Application.create()" role="button">Get your Sync Space!</a></p>
    </div>

    <h2>Perfect for...</h2>

    <div class="row marketing">

        <div class="col-sm-4">
            <img class="img-responsive center-block" src="@routes.Assets.at("images/events.png")">
            <h4 class="text-center">Group Events</h4>
            <p>Share photos, videos, and other media gathered at a single event &mdash; like weddings, concerts, family events, etc.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive center-block" src="@routes.Assets.at("images/mobile.png")">
            <h4 class="text-center">Mobile Sharing</h4>
            <p>Quickly exchange files from one mobile device to another. iOS and Android compatible.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive center-block" src="@routes.Assets.at("images/tactics.png")">
            <h4 class="text-center">Collaboration</h4>
            <p>Collaborate with others in a temporary online space.</p>
        </div>

    </div>

    <br/>
    <br/>

    <h2>Need to sync your business?</h2>

    <div class="row marketing">

        <div class="col-sm-8">
            <p class="lead">
                Keep all your business files synced within your firewall. Use the sync server to
                instantly create new synced folders for your customers, employees &mdash; or start your
                own Dropbox equivalent.
            </p>

            <p class="lead">
                Our pricing is simple &mdash; <span class="mark bg-gray">$499</span> for a server license and <span class="mark bg-gray">$499</span> for one year of enterprise-grade email and phone support.
            </p>

            <p class="lead">
                <a href="@routes.Application.contact()">Contact us</a> for more details.
            </p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive center-block" src="@routes.Assets.at("images/rocket.png")">
        </div>

    </div>




