
<div class="row marketing center-block">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Terms of Use</h3>
        </div>
        <div class="panel-body">
            <p>The Software is provided "AS IS" and "WITH ALL FAULTS," without warranty of any kind, including without limitation the warranties of merchantability, fitness for a particular purpose and non-infringement.</p>

            <p>The Licensor makes no warranty that the Software is free of defects or is suitable for any particular purpose. In no event shall the Licensor be responsible for loss or damages arising from the installation
               or use of the Software, including but not limited to any indirect, punitive, special, incidental or consequential damages of any character including, without limitation, damages for loss of goodwill, work stoppage,
               computer failure or malfunction, or any and all other commercial damages or losses.</p>

            <p>The entire risk as to the quality and performance of the Software is borne by you. Should the Software prove defective, you and not the Licensor assume the entire cost of any service and repair.</p>

            <p>You agree to not share photos, videos, books, or any other digital material for which you do not hold the copyright.</p>

            <p>This document can be updated at any time by the Licensor and it is your responsibility to ensure that you are continually following the Terms of Use.</p>
        </div>
    </div>

</div>

